@import url('https://fonts.googleapis.com/css?family=Roboto');  /* import google Roboto font */

.background-cover{
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover; 
	/*position:fixed; */
	background-repeat:no-repeat;
	top:0; 
	left:0; 
/*	overflow: hidden; */
/*	overflow: scroll; */
	width: 100%; 
	/*height:50%;*/
    opacity:1;

	font-family: 'Roboto', "Helvetica Neue", Arial, Helvetica, sans-serif;
	
} 

#sidebar {
    border-color: #52c69c !important;
    background-color: #ffffff;
	list-style: none;
	
}

#sidebar {
    background: #ffffff url(http://www.iamsunnywang.com/#pfolio/1943);
}

#sidebar {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 100;
	width: 180px;
	padding: 15px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .33);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .33);
	box-shadow: 0 0 10px rgba(0, 0, 0, .33);
	border: 4px solid #FF6833;
	border-width:0 4px 0 0;
	background:#FFF;
}
.ui.fluid.container {
    background-color: #FFF;
}
.navbar {
	box-shadow: 1px 1px 2px #eeeeee;
	background-color: rgba(254, 254, 254, 0.97);
	margin-bottom: 30px;
    border-bottom: 1px solid #e7e7e7;
	padding: 5px;
}