<form [formGroup]="registerForm" (ngSubmit)="register()" class="ui form" style="padding-left: 200px;">
  <div class="field">
  <label for="username">用户名</label>
  <input type="text" name="username" id="username" [formControl]="username" style="width: 50%;">
  </div>
  <div class="field">
    <label for="password">密码</label>
    <input type="password" name="password" id="password" [formControl]="password" style="width:50%;">
  </div>
  <div class="field">
    <label for="email">注册邮箱</label>
    <input type="email" name="email" id="email" [formControl]="email" style="width: 50%;">
  </div>

  <button type="submit" class="ui button">提交</button>
</form>
