<div class="ui grid container">
  <div class="twelve wide column">
    <div class="ui grid container">
      <div class="row">
        <div *ngIf="post" class="post-main" style="width: 100%;">
          <div class="topic-header">
            <span class="topic-full-title">{{ post.title }}</span>
            <div class="change">
              <span>10 hours ago &middot;</span>
              <span>jerry &middot;</span>
              <span>73 clicks &middot;</span>
              <span></span>
              <span></span>  
            </div>  
          </div> 
          <div class="inner-topic">
            <div class="topic-content">
              <div class="markdown-text">
                <p>today is sunday</p>
              </div>
            </div>
          </div> 
          
        </div>
      </div>
      <div *ngIf="auth.authenticated()">
        
      </div>
      <div class="row">
        <app-comment [post]="post"></app-comment>
      </div>
     
    </div>
   
  </div>
  
</div>